* {
    max-width: 100%;
    margin: 0;
}

body {
    font-size: 1.2rem;
    font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 900;
}


/* Utilidades */

.aa a {
    text-decoration: none;
    color: #00ACF8;
}

.btn-color {
    background-color: #00ACF8;
    color: #ffffff;
    border: none;
    font-size: 1.1rem;
    padding: 0.3rem 2rem;
    margin-top: 1rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #A0E93A;
    color: #ffffff;
}

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
}

.titulo-cursiva {
    font-family: 'Sofia', cursive;
}


/* Login */

.bg-login {
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 50%, rgba(229, 229, 229, 0.04) 50%, rgba(229, 229, 229, 0.04) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 50%, rgba(46, 46, 46, 0.04) 50%, rgba(46, 46, 46, 0.04) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 50%, rgba(200, 200, 200, 0.04) 50%, rgba(200, 200, 200, 0.04) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.04) 0%, rgba(99, 99, 99, 0.04) 50%, rgba(45, 45, 45, 0.04) 50%, rgba(45, 45, 45, 0.04) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.04) 0%, rgba(243, 243, 243, 0.04) 50%, rgba(37, 37, 37, 0.04) 50%, rgba(37, 37, 37, 0.04) 100%), linear-gradient(90deg, rgb(160, 233, 58), rgb(0, 172, 248));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bg-formulario {
    background-color: rgba(255, 255, 255, 0.563);
    min-height: 100vh;
    padding: 5rem;
}

.bg-formulario img {
    width: 40%;
    margin-bottom: 3rem;
}

.login-form {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1.5px solid #9c9c9c;
    width: 100%;
    height: 40%;
    padding: 0.5rem;
    outline: none;
}

.boton {
    background-color: #0149B6;
    text-decoration: none;
    color: #FFFFFF;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 6px 0 0 #0198B0;
}

.boton:hover {
    background-color: #145FD0;
}

.bg-azul {
    background-color: #0149B6;
    padding: 1rem;
}

.overflow {
    height: 100%;
    overflow: scroll;
}


/* Index */

.contenedor {
    margin: 0;
    width: 100%;
}

.banner {
    padding: 1rem;
    width: 100%;
    height: 50vh;
    box-shadow: 0 0.5px 30px 5px #888888;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    height: 100%;
}

.bg-index {
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251, 0.045) 0%, rgba(251, 251, 251, 0.045) 50%, rgba(229, 229, 229, 0.045) 50%, rgba(229, 229, 229, 0.045) 100%), radial-gradient(circle at 66% 97%, rgba(36, 36, 36, 0.045) 0%, rgba(36, 36, 36, 0.045) 50%, rgba(46, 46, 46, 0.045) 50%, rgba(46, 46, 46, 0.045) 100%), radial-gradient(circle at 86% 7%, rgba(40, 40, 40, 0.045) 0%, rgba(40, 40, 40, 0.045) 50%, rgba(200, 200, 200, 0.045) 50%, rgba(200, 200, 200, 0.045) 100%), radial-gradient(circle at 15% 16%, rgba(99, 99, 99, 0.045) 0%, rgba(99, 99, 99, 0.045) 50%, rgba(45, 45, 45, 0.045) 50%, rgba(45, 45, 45, 0.045) 100%), radial-gradient(circle at 75% 99%, rgba(243, 243, 243, 0.045) 0%, rgba(243, 243, 243, 0.045) 50%, rgba(37, 37, 37, 0.045) 50%, rgba(37, 37, 37, 0.045) 100%), linear-gradient(90deg, rgb(245, 255, 230), rgb(231, 248, 255));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.tarjeta {
    border-radius: 0.5rem;
    height: 500px;
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.tarjeta2 {
    border-radius: 0.5rem;
    height: 550px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #FFFFFF;
}

.tarjeta2 img {
    border: 4px solid silver;
}

.titulo-tarjeta {
    color: #00ACF8;
}

.texto-tarjeta {
    font-size: 15px;
}

.img-tarjeta2 img {
    width: 200px;
}


/* Quienes somos */

.bg-quienes {
    background-image: url(.././img/pasantia.jpg);
    background-position: center -180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1rem;
}

.bg-quienes h2 {
    font-size: 4rem;
    line-height: 40px;
}

@media only screen and (min-width: 1500px) {
    .bg-quienes {
        background-position: center -280px;
    }
}

@media only screen and (max-width: 270px) {
    .bg-quienes h2 {
        font-size: 3rem;
        line-height: 30px;
    }
}

.texto-quienes {
    background-color: #00acf8;
    height: auto;
    padding-top: 1rem;
    color: #fff;
}

.texto-quienes h3 {
    margin-top: 1rem;
}

.texto-quienes p {
    text-align: justify;
    font-size: 1rem;
    margin-top: -2rem;
}